{% extends "layout.html" %}

{% block title %}
Budget Form
{% endblock %}

{% block content %}
<h1>Set your Budget</h1>
<form method="post">
    {% csrf_token %}
    <div class="d-flex flex-column justify-content-center align-items-center">
        <div class="card bg-black" style="width: 22rem;">
            <div class="card-body">
                <div>
                    {{form.as_p}}
                </div>
                <div>
                    <button class="btn btn-primary" type="submit">Submit</button>
                    <a href="{% url "info" %}" class="btn btn-danger">Back</a>
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock %}